body {
    font-family: Arial, sans-serif;
    background-color: #111;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}
.container {
    background: #222;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.7);
    width: 400px;
    margin: 100px auto;
    transition: transform 0.3s ease-in-out;
}
.container:hover {
    transform: scale(1.05); /* Aumenta o tamanho do container */
}
h2 {
    color: red;
}
.btn, #copyButton {
    background: red;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    transition: transform 0.2s ease-in-out;
}
.btn:hover, #copyButton:hover {
    background: darkred;
    transform: scale(1.1); /* Aumenta o botão ao passar o mouse */
}
select, label {
    margin-top: 15px;
    padding: 10px;
    background-color: #333;
    color: white;
    border: 1px solid red;
    border-radius: 5px;
    transition: transform 0.2s ease-in-out;
}
select:hover, label:hover {
    transform: scale(1.05); /* Aumenta a área do select e do label */
}
#keyOutput {
    margin-top: 20px;
    font-size: 18px;
    font-family: "Courier New", Courier, monospace;
    color: #f0f0f0;
    transition: transform 0.2s ease-in-out;
}
#keyOutput:hover {
    transform: scale(1.05); /* Aumenta a área da chave gerada */
}